@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$global-font-family: "Fira Sans", "Roboto", sans-serif;

// $header-title-font-family: 'Roboto', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,300;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css");
$code-font-family: "Hack", "Fira Code";

// $global-link-color-dark: #819DAD;
// $global-link-color-dark: #55bde2;
// $global-link-color-dark: #55bde2;
// $global-font-secondary-color-dark: #a9a9b3;

$code-color: #7b68ee;

// h margin
.single .content h2,
.single .content h3,
.single .content h4,
.single .content h5,
.single .content h6 {
  margin: 3rem 0 1rem 0 !important;
}
// text margin
.single .content p {
  margin: 1.2rem 0 !important;
}

// source code block margin
.single .content .highlight {
  margin: 0.95rem 0 !important;
}

// img margin
.single .content img {
  margin: 0.9rem 0 !important;
}

// hr line
.single .content hr {
  margin: 3rem 0 !important;
  border-top: 1px dashed #cfc8c8 !important;
}

// .page {
//   max-width: 900px !important;
// }
