@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,300;1,700&display=swap');

$global-font-family: 'Roboto', sans-serif, 'Noto Serif KR', serif;;
// $header-title-font-family: 'Roboto', sans-serif;
$code-font-family: 'Fira Code', monospace;
